.heading{
	max-width: 1140px;
  color: #fff;
	border-bottom: 1px solid #DADADA;
	padding-bottom: 23px;  
	margin: 0 auto 0 auto;
	font-weight: normal;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.04em;
}

@media screen and (max-width: 1024px) {
	/* стили для планшета в альбомной ориентации */
	.heading {
	  max-width: 900px;
	}
  }
  
  @media screen and (max-width: 768px) {
	/* стили для планшета */
	.heading{
		max-width: 668px;
	}
  }