.about-project{
  max-width: 1280px;
	margin-top: 100px;
	color:#fff;
	margin: 110px auto 0 auto;
	padding-right: 2%;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
	.about-project {
		width: calc(100% - 100px);
		margin-top: 90px;
		padding: 0;
	}
}
  
  @media screen and (max-width: 767px) and (min-width: 320px) {
	.about-project{
		max-width: 768px;
	}
}

.about-project__wrapper{
	margin: 70px auto 110px auto;
	display: grid;
	grid-template-columns: 550px 550px;
	grid-row-gap: 26px;
	grid-column-gap: 40px;
	max-width: 1140px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
	.about-project__wrapper{
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 22px;
    width: 100%;
		margin-bottom: 93px;
	}
}
@media screen and (max-width: 767px) and (min-width: 320px) {
	.about-project__wrapper{
		grid-template-columns: 370px 370px;
		grid-column-gap: 30px;
		grid-row-gap: 22px;

	}
}

.about-project__title{
	margin:0;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.04em;
}


@media screen and (max-width: 767px) and (min-width: 320px) {
	.about-project__title:last-of-type{
		grid-row: 3/4;
	}
}

.about-project__subtitle{
	margin:0;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}

@media screen and (max-width: 768px) {
	.about-project__subtitle{
		font-size: 12px;
		line-height: 18px;
	}
}

@media screen and (max-width: 767px) and (min-width: 320px) {
	.about-project__subtitle:last-of-type{
		grid-row: 4/4;
	}
}

.deadlines{
	margin: 0 70px 110px 70px;
	display: grid;
	grid-template-columns: 228px 912px;
	grid-row-gap: 14px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
	.deadlines{
		grid-template-columns: 1fr 3.8fr;
		margin: 0 0 110px 0;
		width: 100%;
		margin-bottom: 90px;
	}
}

@media screen and (max-width: 767px) and (min-width: 320px){
	.deadlines{
		margin: 0 50px 92px 50px;
	}
}

.deadlines__time{
	font-weight: normal;
	min-height: 36px;
	font-size: 14px;
	line-height: 17px;
	background-color: #303030;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deadlines__time_other_theme{
	background-color: #3DDC84;
	color:#000000;
}

.deadlines__topic{
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color:#8B8B8B;
	display: flex;
	justify-content: center;
	align-items: center;
}