.footer{
  width: 1140px;
  display: flex;
  flex-direction: column;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) and (min-width: 768px){
	/* стили для планшета */
	.footer{
	max-width: calc(100% - 60px);
	}
}

@media screen and (max-width: 767px) and (min-width: 320px) {
		/* стили для планшета */
		.footer{
	width: 800px;
		}
}

.footer__title{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #8B8B8B;
	margin: 48px 0 0 0;
	max-width: 1140px;
	border-bottom: 1px solid #424242;
	padding-bottom: 20px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.footer__title{
		max-width: 708px;
		margin-top: 25px;
	}
}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
	margin: 20px 0 20px 0;
}

.footer__author{
	color:#fff;
	margin:0;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;

}

.footer__links{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 263px;
}

.footer__wrapper-link{
	margin-right: 20px;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}

.footer__wrapper-link:last-child{
	margin-right: 0;
}

.footer__link{
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	color:#fff;
}